:root {
  --floor-height: 50px;
  --floor-border: 1px;
  --floor-padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.building {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.keypad {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.floor {
  width: 70%;
  height: var(--floor-height);
  border: var(--floor-border) solid #000000;
  border-bottom-width: 0;
  background-color: #eeeeee;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.elevator {
  background-color: #268d37;
  position: absolute;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  width: 48px;
  height: 48px;
  margin: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #f5f5dc;
}

.key:hover {
  cursor: pointer;
  background-color: #e4e4bb;
}

.queued-key {
  background-color: #df912d;
}

.change-height {
  margin: auto;
  display: flex;
  align-items: center;
}

.change-height > p, button {
  margin: 5px
}