.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.building {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.keypad {
  display: flex;
  justify-content: center;
  width: 100%;
}

.floor {
  width: 70%;
  height: 48px;
  border: 1px solid #000000;
  background-color: #eeeeee;
  padding-left: 10px;
}

.elevator {
  width: 40px;
  height: 48px;
  border: 1px solid #000000;
  background-color: #268d37;
  position: absolute;
  bottom: 0;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.key {
  width: 75px;
  height: 75px;
  margin: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #f5f5dc;
}

.key:hover {
  cursor: pointer;
  background-color: #e4e4bb;
}

.queued-key {
  background-color: #df912d;
}